<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Previsões do Tempo</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
	rel="stylesheet" />
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/Previsoes">Previsões</a></li>
					<li class="active"><a href="/Cidades">Cidades</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Cidades</h1>
		</div>
		<form class="form-inline" method="post" th:object="${cidade}"
			th:action="@{/Cidades}" style="margin: 20px">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Nome"
					th:field="*{nome}" /> <input type="text" class="form-control"
					placeholder="Longitude" th:field="*{longitude}"
					pattern="[0-9]*\.?[0-9]*"
					title="Insira apenas números e divididos por ponto (.)" /> <input
					type="text" class="form-control" placeholder="Latitude"
					th:field="*{latitude}" pattern="[0-9]*\.?[0-9]*"
					title="Insira apenas números e divididos por ponto (.)" />
				<button type="submit" class="btn btn-primary">Adicionar</button>
			</div>
		</form>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Cidade</th>
						<th>Latitude</th>
						<th>Longitude</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cidade:${cidades}">
						<td th:text="${cidade.nome}"></td>
						<td th:text="${cidade.latitude}"></td>
						<td th:text="${cidade.longitude}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>